<div class="text-center p-6">
  <h1 class="text-center p-6 text-3xl font-bold underline">{{ title }}</h1>

  <!-- landing page -->
  <div *ngIf="!hasSelectedGame">
    <button class="hover:font-semibold hover:underline" (click)="newGame()">
      Start New Game
    </button>
    |
    <button class="hover:font-semibold hover:underline" (click)="loadGame()">
      Load Game
    </button>
  </div>

  <!-- New game form for username input -->
  <div *ngIf="showNewGameForm">
    <label for="name-input"><i>What is your name?</i></label>
    <br /><br />
    <input
      id="name-input"
      type="text"
      class="justify-center p-4 border border-grey-300 rounded-lg bg-grey-50 text-base"
      [(ngModel)]="userName"
    /><br /><br />
    <button
      class="hover:font-semibold hover:underline"
      (click)="submitNewGame()"
    >
      Submit
    </button>
  </div>

  <!-- Error message if username is taken -->
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="hasStartedGame">
    <p>{{ storyText }}</p>
    <br />
    <p>
      <i>{{ question?.text }}</i>
    </p>
    <div *ngIf="(questions[0].choices || []).length > 0">
      <br /><br />
      <ul>
        <li *ngFor="let choice of questions[0].choices; last as isLast">
          <button
            class="font-semibold hover:underline"
            (click)="makeChoice(choice)"
          >
            {{ choice?.text }}
          </button>
          <div *ngIf="!isLast">or</div>
        </li>
      </ul>
    </div>
    <br />
    <button class="text-sm font-medium hover:underline" (click)="resetGame()">
      Reset Game
    </button>
  </div>
</div>
