<h1 class="text-center p-6 text-3xl font-bold underline">{{ title }}</h1>
<!-- <div *ngFor="let progress of playerProgress">
  <p>You made the choice: {{ progress }}</p>
</div> -->
<div class="text-center p-6">
  <p>{{ storyText }}</p>
  <br />
  <p><i>{{ questionText }}</i></p>
  <br />
  <button class="font-semibold hover:underline" click None="makeChoice('Choice 1')">
    Option A
  </button>
  or
  <button class="font-semibold hover:underline" click None="makeChoice('Choice 2')">
    Option B
  </button>
  <br />
  <br />
  <button class="text-sm font-medium hover:underline" (click)="resetGame()">
    Reset Game
  </button>
</div>
