<h1 class="text-center p-6 text-3xl font-bold underline">{{ title }}</h1>
<!-- <div *ngFor="let progress of playerProgress">
  <p>You made the choice: {{ progress }}</p>
</div> -->
<div class="text-center p-6">
  <p>{{ storyText }}</p>
  <br />

  <p>
    <i>{{ question?.text }}</i>
  </p>
  <div *ngIf="(questions[0].choices || []).length > 0">
    <br /><br />
    <ul>
      <li *ngFor="let choice of questions[0].choices; last as isLast">
        <button
          class="font-semibold hover:underline"
          (click)="makeChoice(choice)"
        >
          {{ choice?.text }}
        </button>
        <div *ngIf="!isLast">or</div>
      </li>
    </ul>
  </div>
  <br />
  <button class="text-sm font-medium hover:underline" (click)="resetGame()">
    Reset Game
  </button>
</div>
